<html>
    <h1>Бесплатные объявления</h1>
	{% if advertisement_list %}
	    <ul>
		    {% for advertisement in advertisement_list %}
			    <li>
				    {#	{{ advertisement.title }} (Цена: {{ advertisement.price }}) руб.	#}
					<a href="{% url 'advertisement_detail' advertisement.pk %}">{{ advertisement.title }}</a>
					<p>
					    Дата создания: {{ advertisement.created_at }}
					</p>
					<p>
					    Количество просмотров: {{ advertisement.views_count }}
					</p>
				</li>
			{% endfor %}
		</ul>
	{% else %}
	    <p>Объявлений нет!</p>
	{% endif %}
</html>